<h2>Invalid Credintials. Try Again.</h2>
<form action="access" method="get">
  <input type="text" placeholder="Enter UserID" name="useridenter" required />
  <input type="text" placeholder="Enter Password" name="passwordenter" required />
  <input type="submit" value="Submit Credentials" />
</form>
<h6>Dont Have An Account? Create One <%= link_to "Here", "/create" %></h6>
</div>
